@inherits LayoutComponentBase
@inject MauiInterop Maui
@implements IDisposable
@inject NavigationManager NavigationManager

@inject AppState AppState

<div class="w-100 position-fixed p-3 mb-3 bg-white shadow-sm top-navbar">
    <div class="hstack gap-3">
        <h3 class="m-0 w-100 @(Maui.IsIOS ? "text-center" : "text-start")">@AppState.PageTitle</h3>
        <i class="bx bx-menu bx-sm text-dark"></i>
       
    </div>
</div>
<div class="body-content">
    @Body
</div>

<div class="d-flex justify-content-center w-100">
    <div class="d-flex justify-content-center align-items-center vw-95 p-2 mx-1 my-2 bg-success bg-gradient position-fixed rounded-pill shadow-lg bottom-tabbar">
        <label class="rounded-pill text-white px-3 py-1 m-0 d-flex flex-column align-items-center @(IsHomeSelected ? "shadow-lg" : "light-white")" @onclick="()=> GoToPage(AppConstants.MeniItems.Home)">
            <i class="bx @(IsHomeSelected ? "bx-home" : "bx-home") bx-md m-0 p-0"></i>
            <span class="fs-12">Home</span>
        </label>

        <label class="rounded-pill text-white px-3 py-1 m-0 d-flex flex-column align-items-center @(IsSearchSelected ? "shadow-lg" : "light-white")" @onclick="()=> GoToPage(AppConstants.MeniItems.Search)">
            <i class="bx @(IsSearchSelected ? "bx-search" : "bx-search") bx-md m-0 p-0"></i>
            <span class="fs-12">Search</span>
        </label>
        
        <label class="rounded-pill text-white px-3 py-1 m-0 d-flex flex-column align-items-center @(IsAddDeviceSelected ? "shadow-lg" : "light-white") " @onclick="()=> GoToPage(AppConstants.MeniItems.AddDevice)">
            <i class="bx @(IsAddDeviceSelected ? "bx-plus-circle" : "bx-plus-circle") bx-md m-0 p-0"></i>
            <span class="fs-12">Device</span>
        </label>

        <label class="rounded-pill text-white px-3 py-1 m-0 d-flex flex-column align-items-center @(IsNotificationSelected ? "shadow-lg" : "light-white")" @onclick="()=> GoToPage(AppConstants.MeniItems.Notification)">
            <i class="bx @(IsNotificationSelected ? "bx-bell" : "bx-bell")  bx-md m-0 p-0"></i>
            <span class="fs-12">Notification</span>
        </label>
      
        <label class="rounded-pill text-white px-3 py-1 m-0 d-flex flex-column align-items-center @(IsProfileSelected ? "shadow-lg" : "light-white")" @onclick="()=> GoToInnerPage(AppConstants.MeniItems.Profile)">
            <i class="bx @(IsProfileSelected ? "bx-user-circle" : "bx-user-circle") bx-md m-0 p-0"></i>
            <span class="fs-12">Profile</span>
        </label>
    </div>

</div>
@code
{


    private static IDictionary<string, string> _pagesMap = new Dictionary<string, string>
        {
            [AppConstants.MeniItems.Home] = "/home",
            [AppConstants.MeniItems.Search] = "/search",
            [AppConstants.MeniItems.AddDevice] = "/add_device",
            [AppConstants.MeniItems.Notification] = "/notification",
            [AppConstants.MeniItems.Profile] = "/profile"

        };

    private bool IsHomeSelected => AppState.SelectedMenuItem == AppConstants.MeniItems.Home;
    private bool IsSearchSelected => AppState.SelectedMenuItem == AppConstants.MeniItems.Search;
    private bool IsAddDeviceSelected => AppState.SelectedMenuItem == AppConstants.MeniItems.AddDevice;
    private bool IsNotificationSelected => AppState.SelectedMenuItem == AppConstants.MeniItems.Notification;
    private bool IsProfileSelected => AppState.SelectedMenuItem == AppConstants.MeniItems.Profile;

    private void GoToPage(string pageName)
    {
        NavigationManager.NavigateTo(_pagesMap[pageName]);

    }
    private void GoToInnerPage(string pageName)
    {
        NavigationManager.NavigateTo(_pagesMap[pageName]);

    }

    protected override void OnInitialized()
    {
        AppState.SelectedMenuItemChanged += OnSelectedMenuItemChanged;
    }

    private void OnSelectedMenuItemChanged(object? sender, string selectMenu) => StateHasChanged();

    public void Dispose()
    {
        AppState.SelectedMenuItemChanged -= OnSelectedMenuItemChanged;
    }

}
